<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>★Come Stage!</title>

    <link rel="canonical" href="https://getbootstrap.jp/docs/5.0/examples/album/">


    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>

  <body>
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 offset-md-1 py-4">
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">プロフィール変更</a></li>
            <li><a href="#" class="text-white">公演カレンダー</a></li>
            <li><a href="#" class="text-white">詳細検索</a></li>
            <li><a href="#" class="text-white">ランキング</a></li>
            <li><a href="stages/new" class="text-white">公演掲載</a></li>
            <li><a href="#" class="text-white">ヘルプ</a></li>
          </ul>
        </div>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Come Stage! とは？</h4>
          <p class="text-white">芸能の世界で活動をされている皆さんにとって、広く世の中に発信のできる場となることを願っています。</p>
          <p>
            <a href="#" class="btn btn-danger my-2">演劇</a>
            <a href="#" class="btn btn-danger my-2">LIVE</a>
            <a href="#" class="btn btn-danger my-2">お笑い</a>
            <a href="#" class="btn btn-danger my-2">ミュージカル</a>
            <a href="#" class="btn btn-danger my-2">オペラ</a>
            <a href="#" class="btn btn-danger my-2">落語</a>
            <a href="#" class="btn btn-danger my-2">ダンス</a>
            <a href="#" class="btn btn-danger my-2">演芸</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span >MENU</span>
      </button>
      <a href="/" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"></svg>
        <h1>★Come Stage!</h1>
      </a>
      <p>
        <a href="#" class="btn btn-primary my-2">新規登録</a>
        <a href="#" class="btn btn-secondary my-2">ログイン</a>
      </p>
    </div>
  </div>
</header>
<%= yield %>
<footer class="text-muted py-5 bg-dark">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#" class="text-white">トップに戻る</a>
    </p>
    <ul class="list-unstyled">
      <li class="list-inline-item"><a href="#" class="text-white">利用規約</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">プライバシーポリシー</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">運営会社</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">お問い合わせ</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">ヘルプ</a></li>
    </ul>
  </div>
</footer>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="form-validation.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
